@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
header {
  background: url(../images/headerweb.jpg) center / cover;
  height: 120vh;
  justify-content: center;
  text-align: center;
}

h1 {
  color: dimgrey;
  font-weight: bold;
  padding-top: 665px;
  padding-left: 800px;


}

.slogan {
  color: dimgrey;
  font-weight: lighter;
  font-size: 1.6rem;
  padding-left: 800px;
}

main {
   max-width: 900px;
 }

 .project-description {
   padding-left: 0;
 }

 .project img {
   width: 100%;
 }

 footer.mdl-mini-footer {
   bottom: 0;
   padding: 0.5rem;
   position: fixed;
   width: 100%;
   z-index: 1;
 }

 footer.mdl-mini-footer > ul {
  margin: auto;
   font-size: 2rem;
}

 body {
  padding-bottom: 5rem;
}

@media screen and (max-width: 1240px) {
   header.mdl-layout__header {
     display: flex;
   }

 @media screen and (max-width:320px) {
   header.mdl-layout__header {
     display: flex;
  /* CSS for screens that are 320 pixels or less will be put in this section */
}
@media screen and (min-width:320px) and (max-width:640px) {
  header.mdl-layout__header {
    display: flex;
  /* for screens that are at least 320 pixels wide but less than or equal to 640 pixels wide */
}
}
